@font-face {
  font-family: fontx;
  src: url(../fonts/regular.otf);
}

@font-face {
  font-family: fontx;
  src: url(../fonts/bold.otf);
  font-weight: 700;
}

* {
  font-family: fontx, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 600px;
  width: 450px;
  font-family: Arial;
  direction: rtl;
  overflow: hidden !important;
  margin: unset;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Style tab links */
#tablinks_container {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #1c1c1c;
}

.tablink {
  background-color: #252424;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 17px;
  width: 110px;
  border-radius: 15px;
  margin: 7px 3px;
}

/* .tablink:first-of-type {
  min-width: 150px;
} */

.tablink:hover {
  background-color: #333333;
}

/* Style the tab page */
.page {
  background-color: rgb(43, 43, 43);
  color: white;
  display: none;
  padding: 0 20px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  overflow: overlay;
}

.page h3,
.page:not(#Home) p {
  text-align: center;
  margin-bottom: 10px;
}

.page:not(#Home) p {
  margin: unset;
  margin-bottom: 25px;
}

#Other p {
  margin: unset;
  margin-bottom: 0 !important;
}
#Sounds p:first {
  margin-bottom: 15px !important;
}

#Home {
  background-color: #ededed;
  color: black;
}

#Home #alertDetails {
  display: none;
  position: fixed;
  overflow: overlay;
  margin-left: 0px;
  margin-right: -20px;
  width: -webkit-fill-available;
  height: calc(100% - 70px);
  /* height: 100%; */
  background-color: #343638;
}

#Home #alertDetails iframe {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  border: none;
}

#Home #close {
  position: fixed;
  z-index: 1;
  top: 80px;
  right: 15px;
  font-size: 36px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  direction: ltr;
}

#Home #openInBrowser {
  position: fixed;
  z-index: 1;

  top: 80px;
  left: 15px;
  font-size: 34px;
  cursor: pointer;
  direction: ltr;
}

#Home #openInBrowser::after {
  content: "";
  width: 1em;
  height: 1em;
  margin: 0 0.05em 0 0.1em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+)
    no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: text-bottom;
  filter: invert(1);
}

/* hr */
hr {
  border: unset;
  height: 5px;
  max-width: 300px;
  margin: 24px auto;
  border-radius: 2px;
  background-color: #252424;
}

/* Scrollbar */
::-webkit-scrollbar-thumb {
  height: 15%;
  width: 13px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: rgb(194, 194, 194);
  -webkit-text-size-adjust: none;
}

::-webkit-scrollbar {
  padding-top: 30px;
  height: 15%;
  width: 13px;
  background-color: transparent;
}

/* History */
#history {
  padding: 10px 0;
}

.history_item {
  display: flex;
  background-color: #fdfdfd;
  border-radius: 7px;
  overflow: auto;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.history_item:not(:last-of-type) {
  margin-bottom: 5px;
}

/* Data div */
.history_item div:first-of-type {
  padding: 10px;
  width: -webkit-fill-available;
}

/* Threats icons div */
.history_item div:last-of-type {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  background-color: #d50f02;
  width: 45px;
  align-items: center;
  justify-content: center;
}

.history_item div:last-of-type.drill {
  background-color: #3d5af1 !important;
}

.drill_text {
  color: #3d5af1;
  font-weight: 600;
}

/* Threats icon */
.history_item img {
  width: 20px;
  margin: 10px 0;
}

.history_item img[threat="0"] {
  width: 21px;
  margin: unset;
  padding: 8px 0;
}
.history_item img[threat="2"] {
  width: 23px;
}
.history_item p {
  margin: unset;
}

/* History item - Date */
.history_item .date {
  font-size: 12px;
  color: rgb(228, 0, 0);
  margin: 5px 0;
  direction: ltr;
  text-align: right;
}

/* History item - Areas */
.history_item .areas {
  font-size: 16px;
  color: rgb(15, 15, 15);
}

/* History item - Cities */
.history_item .cities {
  font-size: 14px;
  margin-top: 5px;
  color: rgb(56, 56, 56);
}

/* History item - On Hover */
.history_item:hover {
  background-color: #f7f6f6;
}

/* Input & Label */
input {
  margin-left: 5px;
}

label {
  display: inline-block;
  margin-bottom: 9px;
  font-size: 14px;
}

/* Sounds selection */
#Sound label {
  font-size: 18px;
}

#Sounds input:not(#readCities) {
  margin-right: 40%;
}

/* Flex div */
.flex {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

/* Card */
.card {
  background-color: #262626;
  padding: 10px;
  height: fit-content;
  border-radius: 4.8px;
  margin-bottom: 15px;
  overflow-y: overlay;
  color: #c4c4c4;
}

.card p {
  margin-bottom: 5px;
}
#Sounds .card {
  min-width: 60%;
  width: fit-content;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#Cities .card-silent-mode {
  min-width: 60%;
  width: fit-content;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #262626;
  padding: 10px;
  height: fit-content;
  border-radius: 4.8px;
  margin-bottom: 15px;
  overflow-y: overlay;
  color: #c4c4c4;
}

.description {
  margin: unset !important;
}

button.card:hover,
a.card:hover,
.focused,
#info a:nth-child(1):hover {
  background-color: rgb(31, 31, 31);
}

/* Cities Selection */
#selection p {
  margin: 0 5px !important;
}

#selection button {
  border: unset;
  display: flex;
  margin: unset;
  min-width: fit-content;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-bottom: unset;
}

#selection .item button {
  padding: 3px;
  width: 30px;
}

#selection .item p {
  font-size: 14px;
  margin: 0 5px;
}

#selection .item {
  height: fit-content;
  width: fit-content;
  padding: 5px;
  margin-left: 4px;
  margin-bottom: 5px;
  align-items: center;
  display: inline-flex;
}

#selection #selected {
  height: 300px;
  overflow-y: overlay;
  text-align: center;
}

#selection input {
  border: none;
  margin-bottom: unset;
  width: -webkit-fill-available;
  max-width: 300px;
  margin-right: 5px;
  background-image: url("/img/search.png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: left center;
  background-origin: content-box;
  padding-left: 10px;
}

#autocomplete {
  position: absolute;
  z-index: 5;
  margin-top: 40px;
  margin-right: 52px;
  width: 350px;
  max-height: 300px;
  overflow: auto;
  border-radius: 4.8px;
  background-color: #262626;
}

#autocomplete button {
  display: unset;
  width: -webkit-fill-available;
  text-align: unset;
}

#autocomplete button p:first-of-type {
  font-weight: bold;
}

#languageTitle {
  display: inline-block;
  margin: 5px 5px;
}

select {
  padding: 5px 10px;
  border-radius: 4px;
  color: #e41102;
  background-color: #252424;
  /* background-color: #1c1c1c; */
  border: none;
}

#testAlert {
  background-color: #e41102;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  display: block;
  margin: -10px auto;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  accent-color: #e41102;
}

/* 

*/

.multiselect {
  /* width: 200px; */
  display: inline-block;
  margin-bottom: 5px;
}

.selectBox {
  position: relative;
  display: inline-block;
  width: 200px;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#threats-checkboxes {
  display: none;
  /* outline: 1px #dadada solid;  */
  position: absolute;
  max-height: 100px;
  overflow: auto;
  width: 200px;
  background-color: #1c1c1c;
  /* border-bottom: solid 1px #e41102;
   border-left: solid 1px #e41102;
   border-right: solid 1px #e41102; */
  padding: 2px;
}

#threats-checkboxes label {
  display: block;
}

#threats-checkboxes label:hover {
  background-color: #252424;
  border-radius: 5px;
}
#selectThreatsTitle {
  display: inline-block;
  margin: 5px 5px;
}
#threats-checkboxes label {
  margin-bottom: 1px;
}

.alertsServerConnectionError {
  background-color: #cd3634;
  margin: 0 -20px;
  padding: 6px 20px;
  display: flex;
  position: sticky;
  top: 0;
  display: none;
}

.alertsServerConnectionError.show {
  display: block !important;
}

.alertsServerConnectionError p {
  color: white;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}

#Sounds label{
  margin-bottom: 5px;
}

#Sounds .card{  
  padding-top: 6px;
  padding-bottom: 6px;
}

#Sounds .cardReading{  
 margin-top: 10px !important;
}


#playFlashTest{
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJ3aGl0ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjQgMjQiPiA8Zz4gPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIvPiA8cGF0aCBkPSJNNy43NTIgNS40MzlsMTAuNTA4IDYuMTNhLjUuNSAwIDAgMSAwIC44NjNsLTEwLjUwOCA2LjEzQS41LjUgMCAwIDEgNyAxOC4xMjhWNS44NzFhLjUuNSAwIDAgMSAuNzUyLS40MzJ6Ii8+IDwvZz4gPC9zdmc+);
  background-color: brown;
  border: unset;
  margin: unset;
  cursor: pointer;
  height: 100%;
  height: 20px;
  width: fit-content;
  vertical-align: middle;
  display: inline-block;
  margin: 0 5px;
  padding: 1px 3px;
  border-radius: 5px;
  padding-right: 22px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJ3aGl0ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjQgMjQiPiA8Zz4gPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIvPiA8cGF0aCBkPSJNNy43NTIgNS40MzlsMTAuNTA4IDYuMTNhLjUuNSAwIDAgMSAwIC44NjNsLTEwLjUwOCA2LjEzQS41LjUgMCAwIDEgNyAxOC4xMjhWNS44NzFhLjUuNSAwIDAgMSAuNzUyLS40MzJ6Ii8+IDwvZz4gPC9zdmc+);
  background-position: right 4px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

#playFlashTest.isPlaying{
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJ3aGl0ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjQgMjQiPiA8Zz4gPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIvPiA8cGF0aCBkPSJNNiA3djEwYTEgMSAwIDAgMCAxIDFoMTBhMSAxIDAgMCAwIDEtMVY3YTEgMSAwIDAgMC0xLTFIN2ExIDEgMCAwIDAtMSAxeiIvPiA8L2c+IDwvc3ZnPg==);
}
.flashCardSound{
  margin-top: 5px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 3px 4px;
}



.flashCardSound select {
  background: #1f1f21;
  margin-bottom: 0 ;
}